<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.node.mgr.contract.abi.AbiMapper">
    <resultMap id="abiMap"
               type="com.webank.webase.node.mgr.contract.abi.entity.AbiInfo">
        <id column="abi_id" javaType="java.lang.Integer" jdbcType="INTEGER"
            property="abiId" />
        <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER"
                property="groupId" />
        <result column="account" javaType="java.lang.String" jdbcType="VARCHAR"
                property="account" />
        <result column="contract_name" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractName" />
        <result column="contract_address" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractAddress" />
        <result column="contract_abi" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractAbi" />
        <result column="contract_bin" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractBin" />
        <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
                property="createTime" />
        <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
                property="modifyTime" />
    </resultMap>


    <insert id="add" parameterType="com.webank.webase.node.mgr.contract.abi.entity.AbiInfo">
        REPLACE INTO tb_abi(group_id,account,contract_name,contract_address,contract_abi,contract_bin,
        create_time,modify_time)
        VALUES (#{groupId},#{account},#{contractName},#{contractAddress},#{contractAbi},#{contractBin}, now(), now())
    </insert>

    <delete id="deleteByAbiId" parameterType="java.lang.Integer">
        delete from tb_abi
        where abi_id = #{abiId}
    </delete>

    <delete id="deleteByGroupId" parameterType="java.lang.Integer">
        delete from tb_abi
        where group_id = #{groupId}
    </delete>

    <update id="update" parameterType="com.webank.webase.node.mgr.contract.abi.entity.AbiInfo">
        update tb_abi set modify_time = now()
        <if test="contractName != null and contractName != ''">
            ,contract_name = #{contractName}
        </if>
        <if test="contractAddress != null and contractAddress != ''">
            ,contract_address = #{contractAddress}
        </if>
        <if test="contractAbi != null and contractAbi != ''">
            ,contract_abi = #{contractAbi}
        </if>
        <if test="contractBin != null and contractBin != ''">
            ,contract_bin = #{contractBin}
        </if>
        where abi_id = #{abiId}
    </update>

    <select id="listOfAbi" parameterType="com.webank.webase.node.mgr.contract.abi.entity.ReqAbiListParam"
            resultMap="abiMap">
        select a.* from tb_abi a
        where 1=1 and group_id = #{groupId}
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
        <if test="flagSortedByTime != null and flagSortedByTime != ''">
            order by a.create_time ${flagSortedByTime}
        </if>
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="countOfAbi" resultType="java.lang.Integer">
        select count(1) from tb_abi where 1=1 and group_id = #{groupId}
        <if test="contractName != null and contractName != ''">
            and contract_name = #{contractName}
        </if>
        <if test="contractAddress != null and contractAddress != ''">
            and contract_address = #{contractAddress}
        </if>
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
    </select>

    <select id="queryByAbiId" parameterType="java.lang.Integer"
            resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE abi_id = #{abiId}
    </select>

    <select id="queryByGroupIdAndAddress" resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE group_id = #{groupId}
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
        and contract_address = #{contractAddress}
        limit 1
    </select>

    <select id="queryByGroupIdAndContractName" resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE group_id = #{groupId}
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
        and contract_name = #{contractName}
        limit 1
    </select>

    <select id="listAllContract" parameterType="com.webank.webase.node.mgr.contract.abi.entity.ReqAbiListParam"
      resultType="com.webank.webase.node.mgr.contract.abi.entity.RspAllContract">
        SELECT a.abi_id abiId,a.group_id groupId,a.contract_address contractAddress,a.contract_name contractName,
        a.contract_abi contractAbi,a.create_time createTime,a.modify_time modifyTime,
        b.contractId,b.contractPath,b.account,b.contractStatus,b.contractAbi,b.bytecodeBin,b.contractBin,
        b.deployAddress,b.deployUserName,b.deployTime,b.contractType
        FROM tb_abi a
        LEFT JOIN
        (
        select group_id,contract_address,contract_id contractId,contract_path contractPath,account account,
        contract_status contractStatus,contract_abi contractAbi,bytecode_bin bytecodeBin,contract_bin contractBin,
        deploy_address deployAddress,deploy_user_name deployUserName,deploy_time deployTime,contract_type contractType
        from tb_contract
        where contract_status=2
        ) b on a.contract_address = b.contract_address and a.group_id = b.group_id
        where a.group_id = #{groupId}
        <if test="account != null and account != ''">
            and a.account = #{account}
        </if>
        <if test="contractName != null and contractName != ''">
            and a.contract_name = #{contractName}
        </if>
        <if test="contractAddress != null and contractAddress != ''">
            and a.contract_address = #{contractAddress}
        </if>
        <if test="flagSortedByTime != null and flagSortedByTime != ''">
            order by a.modify_time ${flagSortedByTime}
        </if>
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getAbiByBin" parameterType="com.webank.webase.node.mgr.contract.abi.entity.ReqAbiListParam"
      resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE 1=1
        <if test="groupId != null and groupId != ''">
            and group_id = #{groupId}
        </if>
        <if test="contractName != null and contractName != ''">
            and contract_name = #{contractName}
        </if>
        <if test="contractAddress != null and contractAddress != ''">
            and contract_address = #{contractAddress}
        </if>
        <if test="account != null and account != ''">
            and account = #{account}
        </if>
        <if test="partOfContractBin != null and partOfContractBin != ''">
            and locate(contract_bin,#{partOfContractBin})
        </if>
        limit 1
    </select>
</mapper>