<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.node.mgr.abi.AbiMapper">
    <resultMap id="abiMap"
               type="com.webank.webase.node.mgr.abi.entity.AbiInfo">
        <id column="abi_id" javaType="java.lang.Integer" jdbcType="INTEGER"
            property="abiId" />
        <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER"
                property="groupId" />
        <result column="contract_name" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractName" />
        <result column="contract_address" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractAddress" />
        <result column="contract_abi" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractAbi" />
        <result column="contract_bin" javaType="java.lang.String" jdbcType="VARCHAR"
                property="contractBin" />
        <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
                property="createTime" />
        <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
                property="modifyTime" />
    </resultMap>


    <insert id="add" parameterType="com.webank.webase.node.mgr.abi.entity.AbiInfo">
        REPLACE INTO tb_abi(group_id,contract_name,contract_address,contract_abi,contract_bin,
        create_time,modify_time)
        VALUES (#{groupId},#{contractName},#{contractAddress},#{contractAbi},#{contractBin}, now(), now())
    </insert>

    <delete id="deleteByAbiId" parameterType="java.lang.Integer">
        delete from tb_abi
        where abi_id = #{abiId}
    </delete>

    <update id="update" parameterType="com.webank.webase.node.mgr.abi.entity.AbiInfo">
        update tb_abi set modify_time = now()
        <if test="contractName != null and contractName != ''">
            ,contract_name = #{contractName}
        </if>
        <if test="contractAddress != null and contractAddress != ''">
            ,contract_address = #{contractAddress}
        </if>
        <if test="contractAbi != null and contractAbi != ''">
            ,contract_abi = #{contractAbi}
        </if>
        <if test="contractBin != null and contractBin != ''">
            ,contract_bin = #{contractBin}
        </if>
        where abi_id = #{abiId}
    </update>

    <select id="listOfAbi" parameterType="com.webank.webase.node.mgr.abi.entity.ReqAbiListParam"
            resultMap="abiMap">
        select a.* from tb_abi a
        where 1=1 and group_id = #{param.groupId}
        <if test="param.flagSortedByTime != null and param.flagSortedByTime != ''">
            order by a.create_time ${param.flagSortedByTime}
        </if>
        <if test="param.start != null and param.pageSize != null">
            limit #{param.start},#{param.pageSize}
        </if>
    </select>

    <select id="countOfAbi" resultType="java.lang.Integer">
        select count(1) from tb_abi where 1=1
    </select>

    <select id="queryByAbiId" parameterType="java.lang.Integer"
            resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE abi_id = #{abiId}
    </select>

    <select id="queryByGroupIdAndAddress" resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE group_id = #{groupId}
        and contract_address = #{contractAddress}
        limit 1
    </select>
    <select id="queryByGroupIdAndContractName" resultMap="abiMap">
        SELECT a.* FROM tb_abi a
        WHERE group_id = #{groupId}
        and contract_name = #{contractName}
        limit 1
    </select>
</mapper>