<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.node.mgr.appintegration.AppInfoMapper">
  <resultMap id="appMap"
    type="com.webank.webase.node.mgr.appintegration.entity.TbAppInfo">
    <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="id" />
    <result column="app_name" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appName" />
    <result column="app_key" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appKey" />
    <result column="app_secret" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appSecret" />
    <result column="app_type" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="appType" />
    <result column="app_status" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="appStatus" />
    <result column="app_doc_link" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appDocLink" />
    <result column="app_link" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appLink" />
    <result column="app_ip" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appIp" />
    <result column="app_port" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="appPort" />
    <result column="app_icon" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appIcon" />
    <result column="app_desc" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appDesc" />
    <result column="app_detail" javaType="java.lang.String" jdbcType="VARCHAR"
      property="appDetail" />
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime" />
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime" />
  </resultMap>

  <insert id="addAppInfo" parameterType="com.webank.webase.node.mgr.appintegration.entity.TbAppInfo">
    INSERT INTO tb_app_info(app_name,app_key,app_secret,app_doc_link,app_icon,app_desc,app_status,app_detail,create_time,modify_time)
    VALUES (#{appName},#{appKey},#{appSecret},#{appDocLink},#{appIcon},#{appDesc},#{appStatus},#{appDetail},now(),now())
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="countOfAppInfo" parameterType="com.webank.webase.node.mgr.appintegration.entity.AppInfoParam"
    resultType="java.lang.Integer">
    select count(1) from tb_app_info where 1=1
    <if test="appType != null and appType !=''">
      and app_type = #{appType}
    </if>
    <if test="appName != null and appName !=''">
      and app_name = #{appName}
    </if>
    <if test="appKey != null and appKey !=''">
      and app_key = #{appKey}
    </if>
  </select>
  
  <select id="listOfAppInfo" parameterType="com.webank.webase.node.mgr.appintegration.entity.AppInfoParam"
    resultMap="appMap">
    select * from tb_app_info where 1=1
    <if test="appType != null and appType !=''">
      and app_type = #{appType}
    </if>
    <if test="appName != null and appName !=''">
      and app_name = #{appName}
    </if>
    <if test="appKey != null and appKey !=''">
      and app_key = #{appKey}
    </if>
    <if test="flagSortedByTime != null and flagSortedByTime != ''">
      order by modify_time ${flagSortedByTime}
    </if>
    <if test="start != null and pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>

  <select id="queryAppInfoAdded" parameterType="com.webank.webase.node.mgr.appintegration.entity.AppInfoParam"
    resultMap="appMap">
    select * from tb_app_info where app_type=2
    <if test="id != null and id !=''">
      and id = #{id}
    </if>
    <if test="appName != null and appName !=''">
      and app_name = #{appName}
    </if>
    <if test="appKey != null and appKey !=''">
      and app_key = #{appKey}
    </if>
    limit 1
  </select>
  
  <update id="updateAppInfo" parameterType="com.webank.webase.node.mgr.appintegration.entity.TbAppInfo">
    update tb_app_info 
       set modify_time=NOW()
       <if test="appName != null and appName !=''">
           ,app_name = #{appName}
       </if>
       <if test="appDocLink != null and appDocLink !=''">
           ,app_doc_link = #{appDocLink}
       </if>
       <if test="appIcon != null and appIcon !=''">
           ,app_icon = #{appIcon}
       </if>
       <if test="appIp != null and appIp != ''">
           ,app_ip=#{appIp}
       </if>
       <if test="appPort != null and appPort != ''">
           ,app_port=#{appPort}
       </if>
       <if test="appLink != null and appLink != ''">
           ,app_link=#{appLink}
       </if>
       <if test="appStatus != null and appStatus != ''">
           ,app_status=#{appStatus}
       </if>
       <if test="appDesc != null and appDesc != ''">
           ,app_desc=#{appDesc}
       </if>
       <if test="appDetail != null and appDetail != ''">
           ,app_detail=#{appDetail}
       </if>
     where id = #{id}
  </update>
  
  <delete id="deleteAppInfo" parameterType="java.lang.Integer">
    delete from tb_app_info where id = #{id}
  </delete>

</mapper>