<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.block.BlockMapper">
  <resultMap id="blockMap" type="com.webank.webase.node.mgr.block.TbBlock">
    <id column="pk_hash" javaType="java.lang.String" jdbcType="VARCHAR" property="pkHash"/>
    <result column="network_id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="networkId"/>
    <result column="block_number" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="blockNumber"/>
    <result column="miner" javaType="java.lang.String" jdbcType="VARCHAR" property="miner"/>
    <result column="block_timestamp" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="blockTimestamp"/>
    <result column="trans_count" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="transCount"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>

  <sql id="NEW_ROW_COLUMN">
		(pk_hash,network_id,block_number,miner,block_timestamp,trans_count,create_time,modify_time)
	</sql>

  <select id="queryLatestBlockNumber" resultType="java.math.BigInteger">
		select max(block_number) from tb_block where network_id=#{networkId}
	</select>

  <insert id="addBlockRow" parameterType="com.webank.webase.node.mgr.block.TbBlock">
    insert ignore into tb_block
    <include refid="NEW_ROW_COLUMN"/>
    values(#{pkHash},#{networkId},#{blockNumber},#{miner},#{blockTimestamp},#{transCount},NOW(),NOW())
  </insert>

  <select id="listOfBlock" parameterType="com.webank.webase.node.mgr.block.BlockListParam"
    resultMap="blockMap">
    select * from tb_block where 1=1
    <if test="param.networkId != null">
      and network_id = #{param.networkId}
    </if>
    <if test="param.pkHash != null and param.pkHash != ''">
      and pk_hash = #{param.pkHash}
    </if>
    <if test="param.blockNumber != null">
      and block_number = #{param.blockNumber}
    </if>
    <if test="param.minDay != null">
      and block_timestamp &gt;= #{param.minDay}
    </if>
    <if test="param.minBlockNumber != null">
      and block_number > #{param.minBlockNumber}
    </if>
    <if test="param.flagSortedByBlock != null and param.flagSortedByBlock != ''">
      order by block_number ${param.flagSortedByBlock}
    </if>

    <if test="param.start != null and param.pageSize != null">
      limit #{param.start},#{param.pageSize}
    </if>
  </select>


  <select id="countOfBlock" resultType="java.lang.Integer">
    select count(1) from tb_block where 1=1
    <if test="networkId != null">
      and network_id = #{networkId}
    </if>
    <if test="pkHash != null and pkHash != ''">
      and pk_hash = #{pkHash}
    </if>
    <if test="blockNumber != null">
      and block_number = #{blockNumber}
    </if>
  </select>

  <select id="queryMinMaxBlock" resultType="com.webank.webase.node.mgr.block.MinMaxBlock">
		select network_id as networkId,max(block_number) maxBlockNumber,min(block_number) minBLockNumber
		from tb_block group by network_id
	</select>

  <delete id="deleteSomeBlocks">
		delete from tb_block where network_id = #{networkId} and block_number &lt; #{deleteNumber}
	</delete>
</mapper>