<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.node.mgr.contract.ContractPathMapper">
  <resultMap id="pathMap"
    type="com.webank.webase.node.mgr.contract.entity.TbContractPath">
    <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="id" />
    <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="groupId" />
    <result column="contract_path" javaType="java.lang.String" jdbcType="VARCHAR"
      property="contractPath" />
    <result column="account" javaType="java.lang.String" jdbcType="VARCHAR"
      property="account" />
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime" />
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime" />
  </resultMap>


  <insert id="add" parameterType="com.webank.webase.node.mgr.contract.entity.TbContractPath">
    REPLACE INTO tb_contract_path(group_id,contract_path,account,create_time,modify_time)
    VALUES (#{groupId},#{contractPath},#{account}, now(), now())
  </insert>

  <delete id="remove" parameterType="java.lang.Integer">
    delete from tb_contract_path
    where id = #{contractPathId}
  </delete>

  <update id="update" parameterType="com.webank.webase.node.mgr.contract.entity.TbContractPath">
    update tb_contract_path set modify_time = now()
    <if test="contractPath != null and contractPath != ''">
      ,contract_path = #{contractPath}
    </if>
    where id = #{id}
  </update>

  <delete id="removeByPathName" parameterType="com.webank.webase.node.mgr.contract.entity.ContractPathParam">
    delete from tb_contract_path
    where group_id = #{groupId}
    and contract_path = #{contractPath}
  </delete>

  <delete id="removeByGroupId" parameterType="java.lang.Integer">
    delete from tb_contract_path where group_id = #{groupId}
  </delete>

  <select id="listOfContractPath" parameterType="java.lang.Integer"
    resultMap="pathMap">
    select * from tb_contract_path
    where group_id = #{groupId}
    <if test="account != null and account != ''">
      and account = #{account}
    </if>
    order by modify_time desc
  </select>

  <select id="findOne" parameterType="com.webank.webase.node.mgr.contract.entity.ContractPathParam"
    resultMap="pathMap">
    select * from tb_contract_path
    where group_id = #{groupId}
    and contract_path = #{contractPath}
    <if test="account != null and account != ''">
      and account = #{account}
    </if>
  </select>

</mapper>