<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.frontgroupmap.FrontGroupMapMapper">
  <resultMap id="frontGroupMap" type="com.webank.webase.node.mgr.frontgroupmap.entity.FrontGroup">
    <id column="map_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="mapId"/>
    <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="groupId"/>
    <result column="group_name" javaType="java.lang.String" jdbcType="VARCHAR" property="groupName"/>
    <result column="front_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="frontId"/>
    <result column="front_ip" javaType="java.lang.String" jdbcType="VARCHAR"  property="frontIp"/>
    <result column="front_port" javaType="java.lang.Integer" jdbcType="INTEGER" property="frontPort"/>
  </resultMap>


  <insert id="add" parameterType="com.webank.webase.node.mgr.frontgroupmap.entity.TbFrontGroupMap">
    insert ignore into tb_front_group_map
    (front_id,group_id,create_time,modify_time)values(#{frontId},#{groupId},NOW(),NOW())
    <selectKey keyProperty="mapId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="getCount" resultType="java.lang.Integer" parameterType="com.webank.webase.node.mgr.frontgroupmap.entity.MapListParam">
    select count(1) from tb_front_group_map where 1=1
    <if test="mapId != null and mapId != ''">
      and map_id = #{param.mapId}
    </if>
    <if test="frontId != null and frontId != ''">
      and front_id = #{frontId}
    </if>
    <if test="groupId != null and groupId != ''">
      and group_id = #{groupId}
    </if>
  </select>

  <select id="getList" resultMap="frontGroupMap" parameterType="com.webank.webase.node.mgr.frontgroupmap.entity.MapListParam">
    select a.map_id,a.front_id,a.group_id,b.front_ip,b.front_port,c.group_name
    from tb_front_group_map a
    left join tb_front b on(a.front_id=b.front_id)
    left join tb_group c on(a.group_id=c.group_id)
    where 1=1
    <if test="mapId != null and mapId != ''">
      and a.map_id = #{param.mapId}
    </if>
    <if test="frontId != null and frontId != ''">
      and a.front_id = #{frontId}
    </if>
    <if test="groupId != null and groupId != ''">
      and a.group_id = #{groupId}
    </if>
  </select>

  <delete id="removeByGroupId" parameterType="java.lang.Integer">
		delete from tb_front_group_map where group_id = #{groupId}
	</delete>

  <delete id="removeByFrontId" parameterType="java.lang.Integer">
		delete from tb_front_group_map where front_id = #{frontId}
	</delete>
</mapper>