<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.webase.node.mgr.front.FrontMapper">
  <resultMap id="frontMap" type="com.webank.webase.node.mgr.front.entity.TbFront">
    <id column="front_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="frontId"/>
    <result column="node_id" javaType="java.lang.String" jdbcType="VARCHAR"  property="nodeId"/>
    <result column="front_ip" javaType="java.lang.String" jdbcType="VARCHAR"  property="frontIp"/>
    <result column="front_port" javaType="java.lang.Integer" jdbcType="INTEGER" property="frontPort"/>
    <result column="agency" javaType="java.lang.String" jdbcType="VARCHAR" property="agency"/>
    <result column="client_version" javaType="java.lang.String" jdbcType="VARCHAR" property="clientVersion"/>
    <result column="support_version" javaType="java.lang.String" jdbcType="VARCHAR" property="supportVersion"/>
    <result column="front_version" javaType="java.lang.String" jdbcType="VARCHAR" property="frontVersion"/>
    <result column="sign_version" javaType="java.lang.String" jdbcType="VARCHAR" property="signVersion"/>
    <result column="status" javaType="java.lang.Integer" jdbcType="INTEGER" property="status"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"  property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"  property="modifyTime"/>
    <result column="run_type" jdbcType="TINYINT" property="runType" />
    <result column="agency_id" jdbcType="INTEGER" property="agencyId" />
    <result column="agency_name" jdbcType="VARCHAR" property="agencyName" />
    <result column="host_id" jdbcType="INTEGER" property="hostId" />
    <result column="host_index" jdbcType="SMALLINT" property="hostIndex" />
    <result column="image_tag" jdbcType="VARCHAR" property="imageTag" />
    <result column="container_name" jdbcType="VARCHAR" property="containerName" />
    <result column="jsonrpc_port" jdbcType="SMALLINT" property="jsonrpcPort" />
    <result column="p2p_port" jdbcType="SMALLINT" property="p2pPort" />
    <result column="channel_port" jdbcType="SMALLINT" property="channelPort" />
    <result column="chain_id" jdbcType="INTEGER" property="chainId" />
    <result column="chain_name" jdbcType="VARCHAR" property="chainName" />
  </resultMap>


  <insert id="add">
    insert into tb_front
    (node_id, front_ip, front_port, agency, client_version,support_version,
    front_version,sign_version,status, create_time, modify_time,
    run_type, agency_id, agency_name, host_id, host_index,
    image_tag, container_name, jsonrpc_port, p2p_port, channel_port,
    chain_id, chain_name)
    values
    (#{nodeId}, #{frontIp}, #{frontPort}, #{agency}, #{clientVersion},#{supportVersion},
    #{frontVersion},#{signVersion},#{status}, NOW(),NOW(),
    #{runType}, #{agencyId}, #{agencyName}, #{hostId}, #{hostIndex},
    #{imageTag}, #{containerName}, #{jsonrpcPort}, #{p2pPort}, #{channelPort},
    #{chainId}, #{chainName})

    <selectKey keyProperty="frontId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="update" parameterType="com.webank.webase.node.mgr.front.entity.TbFront">
    update tb_front set modify_time = now()
    <if test="status != null and status != ''">
      ,status = #{status}
    </if>
    where front_id = #{frontId}
  </update>
  
  <update id="updateBasicInfo" parameterType="com.webank.webase.node.mgr.front.entity.TbFront">
    update tb_front 
    set node_id = #{nodeId},
        client_version = #{clientVersion},
        support_version = #{supportVersion},
        front_version = #{frontVersion},
        sign_version = #{signVersion},
        p2p_port = #{p2pPort},
        jsonrpc_port = #{jsonrpcPort},
        channel_port = #{channelPort},
        agency = #{agency},
        modify_time = now()
    where front_id = #{frontId}
  </update>

  <delete id="remove" parameterType="java.lang.Integer">
    delete from tb_front where front_id=#{frontId}
  </delete>

  <select id="getCount" resultType="java.lang.Integer" parameterType="com.webank.webase.node.mgr.front.entity.FrontParam">
    select count(1) from tb_front
    where front_id in(select front_id from tb_front_group_map where 1=1
    <if test="groupId != null and groupId !=''">
      and group_id = #{groupId}
    </if>
    group by front_id)
    <if test="frontId != null and frontId !=''">
      and front_id = #{frontId}
    </if>
    <if test="frontIp != null and frontIp !=''">
      and front_ip = #{frontIp}
    </if>
    <if test="frontPort != null and frontPort !=''">
      and front_port = #{frontPort}
    </if>
    <if test="nodeId != null and nodeId !=''">
      and node_id = #{nodeId}
    </if>
    <if test="frontStatus != null and frontStatus !=''">
      and status = #{frontStatus}
    </if>
  </select>


  <select id="getList" resultMap="frontMap" parameterType="com.webank.webase.node.mgr.front.entity.FrontParam">
    select * from tb_front
    where front_id in(select front_id from tb_front_group_map where 1=1
    <if test="groupId != null and groupId !=''">
      and group_id = #{groupId}
    </if>
    group by front_id)
    <if test="frontId != null and frontId !=''">
      and front_id = #{frontId}
    </if>
    <if test="frontIp != null and frontIp !=''">
      and front_ip = #{frontIp}
    </if>
    <if test="frontPort != null and frontPort !=''">
      and front_port = #{frontPort}
    </if>
    <if test="nodeId != null and nodeId !=''">
      and node_id = #{nodeId}
    </if>
    <if test="frontStatus != null and frontStatus !=''">
      and status = #{frontStatus}
    </if>
  </select>
  
  <select id="getAllList" resultMap="frontMap">
    select * from tb_front order by front_id asc
  </select>

  <select id="getById" resultMap="frontMap" parameterType="java.lang.Integer">
    select * from tb_front where front_id = #{frontId}
  </select>


  <select id="selectByHostId" resultMap="frontMap" parameterType="java.lang.Integer">
    select * from tb_front where host_id= #{hostId}
  </select>
  <select id="selectByAgencyId" resultMap="frontMap" parameterType="java.lang.Integer">
    select * from tb_front where agency_id= #{agencyId}
  </select>

  <delete id="deleteByAgencyId" parameterType="java.lang.Integer">
    delete from tb_front where agency_id = #{agencyId}
  </delete>

  <update id="updateStatus" parameterType="java.util.Map">
    update tb_front set `status`=#{status},modify_time=#{modifyTime} where front_id = #{frontId}
  </update>

  <select id="getByNodeId" resultMap="frontMap" parameterType="java.lang.String">
    select * from tb_front where node_id = #{nodeId} limit 1
  </select>

  <select id="getByIpPort" resultMap="frontMap" parameterType="java.lang.String">
    select * from tb_front where front_ip = #{frontIp} and front_port = #{frontPOrt}
  </select>

</mapper>
