<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.precompiled.permission.governvote.GovernVoteMapper">
  <resultMap id="voteMap" type="com.webank.webase.node.mgr.precompiled.permission.governvote.entity.TbGovernVote">
    <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER" property="id"/>
    <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="groupId"/>
    <result column="time_limit" javaType="java.lang.Long" jdbcType="BIGINT"
      property="timeLimit"/>
    <result column="from_address" javaType="java.lang.String" jdbcType="VARCHAR"
      property="fromAddress"/>
    <result column="type" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="type"/>
    <result column="to_address" javaType="java.lang.String" jdbcType="VARCHAR"
      property="toAddress"/> 
    <result column="detail" javaType="java.lang.String" jdbcType="VARCHAR"
      property="detail"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>

  <insert id="add" parameterType="com.webank.webase.node.mgr.precompiled.permission.governvote.entity.TbGovernVote">
    insert into
    tb_govern_vote(group_id,time_limit,from_address,type,to_address,detail,create_time,modify_time)
    values(#{groupId},#{timeLimit},#{fromAddress},#{type},#{toAddress},#{detail},NOW(),NOW())
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>


  <select id="getCount" parameterType="com.webank.webase.node.mgr.precompiled.permission.governvote.entity.GovernParam"
    resultType="java.lang.Integer">
    select count(1) from tb_govern_vote where 1=1
    <if test="groupId != null and groupId != ''">
      and group_id = #{groupId}
    </if>
  </select>

  <select id="getList" parameterType="com.webank.webase.node.mgr.precompiled.permission.governvote.entity.GovernParam"
    resultMap="voteMap">
    select * from tb_govern_vote where 1=1
    <if test="groupId != null and groupId != ''">
      and group_id = #{groupId}
    </if>
    order by id desc
    <if test="start != null and pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>

  <select id="getById" parameterType="java.lang.Integer"
    resultMap="voteMap">
    select * from tb_govern_vote
    where id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from tb_govern_vote where id = #{id}
  </delete>

  <delete id="deleteByGroupId" parameterType="java.lang.Integer">
    delete from tb_govern_vote where group_id = #{groupId}
  </delete>

</mapper>