<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.group.GroupMapper">
  <resultMap id="groupMap" type="com.webank.webase.node.mgr.group.TbGroup">
    <id column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="groupId"/>
    <result column="group_name" javaType="java.lang.String" jdbcType="VARCHAR"
      property="groupName"/>
    <result column="group_status" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="groupStatus"/>
    <result column="latest_block" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="latestBlock"/>
    <result column="trans_count" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="transCount"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>


  <resultMap id="statisticalTransMap"
    type="com.webank.webase.node.mgr.group.StatisticalGroupTransInfo">
    <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="groupId"/>
    <result column="maxDay" javaType="java.time.LocalDate" jdbcType="TIMESTAMP" property="maxDay"/>
    <result column="block_number" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="blockNumber"/>
    <result column="trans_count" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="transCount"/>
  </resultMap>


  <select id="countOfNetwork" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from tb_group where group_status = 1
    <if test="groupId != null and groupId !=''">
      and group_id = #{groupId}
    </if>
  </select>

  <select id="listAllNetwork" resultMap="groupMap">
		select * from tb_group where group_status = 1 order by group_id desc
	</select>

  <update id="updateNetworkInfo">
		update tb_group set modify_time=now(),latest_block = #{latestBlock} where group_id = #{groupId}
	</update>

  <select id="queryLatestStatisticalTrans" resultMap="statisticalTransMap">
		select a.group_id,b.maxDay,c.block_number,c.trans_count from tb_group a
		LEFT JOIN
		(select group_id,max(trans_day) as maxDay from tb_trans_daily GROUP BY group_id)b
		on (a.group_id = b.group_id)
		LEFT JOIN
		tb_trans_daily c on(b.group_id = c.group_id and b.maxDay = c.trans_day);
	</select>

  <select id="queryNetworkGeneral" resultType="com.webank.webase.node.mgr.group.GroupGeneral">
		SELECT a.group_id groupId,a.latest_block latestBlock,a.trans_count transactionCount,b.contractCount,c.orgCount,d.nodeCount
		FROM tb_group a
		LEFT
		JOIN
		(
		select group_id,count(1)
		contractCount from tb_contract where contract_status=2 and contract_type=0 GROUP BY group_id
		)b on(a.group_id = b.group_id)
		LEFT JOIN
		(
		select group_id,count(1) orgCount from
		tb_group_org_map where map_status=1
		GROUP BY group_id
		)c on(a.group_id = c.group_id)
		LEFT JOIN
		(
		select group_id,count(1) nodeCount from tb_node GROUP BY group_id
		)d on(a.group_id =
		d.group_id)
		where a.group_status = 1 and a.group_id = #{groupId}
	</select>

  <update id="resetTransCount" parameterType="java.lang.Integer">
		update tb_group t set t.trans_count =
		(select sum(trans_count) from tb_trans_daily where group_id=#{groupId})
		where t.group_id=#{groupId}
	</update>
</mapper>