<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.network.NetworkMapper">
  <resultMap id="networkMap" type="com.webank.webase.node.mgr.network.TbNetwork">
    <id column="network_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="networkId"/>
    <result column="network_name" javaType="java.lang.String" jdbcType="VARCHAR"
      property="networkName"/>
    <result column="network_status" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="networkStatus"/>
    <result column="latest_block" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="latestBlock"/>
    <result column="trans_count" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="transCount"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>


  <resultMap id="statisticalTransMap"
    type="com.webank.webase.node.mgr.network.StatisticalNetworkTransInfo">
    <result column="network_id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="networkId"/>
    <result column="maxDay" javaType="java.time.LocalDate" jdbcType="TIMESTAMP" property="maxDay"/>
    <result column="block_number" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="blockNumber"/>
    <result column="trans_count" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="transCount"/>
  </resultMap>


  <select id="countOfNetwork" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from tb_network where network_status = 1
    <if test="networkId != null and networkId !=''">
      and network_id = #{networkId}
    </if>
  </select>

  <select id="listAllNetwork" resultMap="networkMap">
		select * from tb_network where network_status = 1 order by network_id desc
	</select>

  <update id="updateNetworkInfo">
		update tb_network set modify_time=now(),latest_block = #{latestBlock} where network_id = #{networkId}
	</update>

  <select id="queryLatestStatisticalTrans" resultMap="statisticalTransMap">
		select a.network_id,b.maxDay,c.block_number,c.trans_count from tb_network a 
		LEFT JOIN
		(select network_id,max(trans_day) as maxDay from tb_trans_daily GROUP BY network_id)b
		on (a.network_id = b.network_id)
		LEFT JOIN
		tb_trans_daily c on(b.network_id = c.network_id and b.maxDay = c.trans_day);
	</select>

  <select id="queryNetworkGeneral" resultType="com.webank.webase.node.mgr.network.NetworkGeneral">
		SELECT a.network_id networkId,a.latest_block latestBlock,a.trans_count transactionCount,b.contractCount,c.orgCount,d.nodeCount
		FROM tb_network a
		LEFT
		JOIN
		(
		select network_id,count(1)
		contractCount from tb_contract where contract_status=2 and contract_type=0 GROUP BY network_id
		)b on(a.network_id = b.network_id)
		LEFT JOIN
		(
		select network_id,count(1) orgCount from
		tb_network_org_map where map_status=1
		GROUP BY network_id
		)c on(a.network_id = c.network_id)
		LEFT JOIN
		(
		select network_id,count(1) nodeCount from tb_node GROUP BY network_id
		)d on(a.network_id =
		d.network_id)
		where a.network_status = 1 and a.network_id = #{networkId}
	</select>

  <update id="resetTransCount" parameterType="java.lang.Integer">
		update tb_network t set t.trans_count =
		(select sum(trans_count) from tb_trans_daily where network_id=#{networkId})
		where t.network_id=#{networkId}
	</update>
</mapper>