<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.networkorgmap.NetworkOrgMapMapper">

  <insert id="addNetworkOrgMapRow"
    parameterType="com.webank.webase.node.mgr.networkorgmap.TbNetworkOrgMap">
    insert into tb_network_org_map
    (network_id,org_id,create_time,modify_time)values(#{networkId},#{orgId},NOW(),NOW())
    <selectKey keyProperty="mapId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="countOfNetworkOrgMap" resultType="java.lang.Integer">
    select count(1) from tb_network_org_map where map_status=1
    <if test="mapId != null and mapId != ''">
      and map_id = #{mapId}
    </if>
    <if test="networkId != null and networkId != ''">
      and network_id = #{networkId}
    </if>
    <if test="orgId != null and orgId != ''">
      and org_id = #{orgId}
    </if>
  </select>

  <delete id="deleteByOrgID" parameterType="java.lang.Integer">
		delete from tb_network_org_map where org_id = #{orgId}
	</delete>
</mapper>