<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.logs.NodeLogMapper">
  <resultMap id="nodeLogMap" type="com.webank.webase.node.mgr.logs.TbNodeLog">
    <id column="log_id" javaType="java.math.BigInteger" jdbcType="BIGINT" property="logId"/>
    <result column="node_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="nodeId"/>
    <result column="file_name" javaType="java.lang.String" jdbcType="VARCHAR" property="fileName"/>
    <result column="log_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="logTime"/>
    <result column="row_number" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="rowNumber"/>
    <result column="log_msg" javaType="java.lang.String" jdbcType="VARCHAR" property="logMsg"/>
    <result column="log_status" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="logStatus"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>


  <sql id="NEW_ROW_COLUMN">
		(node_id,file_name,log_time,row_number,log_msg,log_status,create_time,modify_time)
	</sql>

  <sql id="QUERY_ROW_COLUMN">
		log_id as logId,file_name as fileName,node_id as nodeId,log_time as logTime,row_number as rowNumber,log_msg as logMsg,
		log_status as logStatus,create_time as createTime,modify_time
		asmodifyTime
	</sql>


  <insert id="addNodeLogRow" parameterType="com.webank.webase.node.mgr.transhash.TbTransHash">
    replace into tb_node_log
    <include refid="NEW_ROW_COLUMN"/>
    values(#{nodeId},#{fileName},#{logTime},#{rowNumber},#{logMsg},#{logStatus},NOW(),NOW())
  </insert>


  <select id="queryLatestNodeLog" resultType="com.webank.webase.node.mgr.logs.TbNodeLog">
    select
    <include refid="QUERY_ROW_COLUMN"/>
    from tb_node_log where node_id=#{nodeId} ORDER BY log_time desc,row_number desc limit 1;
  </select>


  <select id="countOfNodeLog" parameterType="com.webank.webase.node.mgr.logs.NodeLogListParam"
    resultType="java.lang.Integer">
    select count(1) from tb_node_log a
    left join tb_node b
    on(a.node_id=b.node_id) where 1=1
    <if test="param.networkId != null and param.networkId != ''">
      and b.network_id = #{param.networkId}
    </if>
    <if test="param.nodeId != null and param.nodeId != ''">
      and a.node_id = #{param.nodeId}
    </if>
    <if test="param.startTime != null">
      and a.log_time &gt;= #{param.startTime}
    </if>
    <if test="param.endTime != null">
      and a.log_time &lt;= #{param.endTime}
    </if>

  </select>


  <select id="listOfNodeLog" parameterType="com.webank.webase.node.mgr.logs.NodeLogListParam"
    resultMap="nodeLogMap">
    select a.* from tb_node_log a
    left join tb_node b
    on(a.node_id=b.node_id) where 1=1
    <if test="param.networkId != null and param.networkId != ''">
      and b.network_id = #{param.networkId}
    </if>
    <if test="param.nodeId != null and param.nodeId != ''">
      and a.node_id = #{param.nodeId}
    </if>
    <if test="param.startTime != null">
      and a.log_time &gt;= #{param.startTime}
    </if>
    <if test="param.endTime != null">
      and a.log_time &lt;= #{param.endTime}
    </if>
    <if test="param.flagSortedByTime != null and param.flagSortedByTime != ''">
      order by a.log_time ${param.flagSortedByTime}
    </if>
    <if test="param.start != null and param.pageSize != null">
      limit #{param.start},#{param.pageSize}
    </if>
  </select>


  <select id="queryMinMaxRowNumber" resultType="com.webank.webase.node.mgr.logs.MinMaxRowNumber">
		select node_id as nodeId,max(row_number) as maxRowNumber,min(row_number) as minRowNumber
		from tb_node_log group by node_id
	</select>

  <delete id="deleteSomeLogs" parameterType="java.lang.Integer">
		delete from tb_node_log where node_id = #{nodeId} and row_number &lt; #{deleteRowNumber}
	</delete>
</mapper>