<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.organization.OrganizationMapper">
  <resultMap id="organizationMap" type="com.webank.webase.node.mgr.organization.TbOrganization">
    <id column="org_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="orgId"/>
    <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="groupId"/>
    <result column="org_name" javaType="java.lang.String" jdbcType="VARCHAR" property="orgName"/>
    <result column="org_type" javaType="java.lang.Integer" jdbcType="INTEGER" property="orgType"/>
    <result column="nodeCount" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="nodeCount"/>
    <result column="org_status" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="orgStatus"/>
    <result column="description" javaType="java.lang.String" jdbcType="INTEGER"
      property="description"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="INTEGER"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>
  <sql id="QUERY_ORG_COLUMN">
		a.org_id,b.group_id,c.nodeCount,a.org_name,a.org_type,a.org_status,a.description,a.create_time,a.modify_time
	</sql>

  <insert id="addOrganizationRow"
    parameterType="com.webank.webase.node.mgr.organization.TbOrganization">
    insert into tb_organization
    (org_name,org_type,description,create_time,modify_time)values(#{orgName},#{orgType},#{description},NOW(),NOW())
    <selectKey keyProperty="orgId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="countOfOrganization" resultType="java.lang.Integer">
    select count(1) from tb_organization a
    left join (select group_id,org_id from tb_group_org_map group by org_id) b
    on(a.org_id=b.org_id)
    where a.org_status=1
    <if test="groupId != null">
      and b.group_id = #{groupId}
    </if>
    <if test="orgId != null">
      and a.org_id = #{orgId}
    </if>
    <if test="orgName != null and orgName != ''">
      and a.org_name like CONCAT(#{orgName},'%')
    </if>
    <if test="orgType != null">
      and a.org_type = #{orgType}
    </if>
  </select>

  <select id="listOfOrganization" resultMap="organizationMap">
    select
    <include refid="QUERY_ORG_COLUMN"/>
    from tb_organization a
    left join (select group_id,org_id from tb_group_org_map group by org_id) b
    on(a.org_id=b.org_id)
    left join (select count(1) nodeCount,org_id from tb_node group by org_id) c
    on(a.org_id=c.org_id)
    where a.org_status=1
    <if test="groupId != null and groupId != ''">
      and b.group_id = #{groupId}
    </if>
    <if test="orgName != null and orgName != ''">
      and a.org_name like CONCAT(#{orgName},'%')
    </if>
    order by a.org_id desc
    <if test="start != null and pageSize != null">
      limit #{start},#{pageSize}
    </if>
  </select>

  <select id="queryOrganization" resultMap="organizationMap">
    select
    <include refid="QUERY_ORG_COLUMN"/>
    from tb_organization a
    left join (select group_id,org_id from tb_group_org_map group by org_id) b
    on(a.org_id=b.org_id)
    left join (select count(1) nodeCount,org_id from tb_node group by org_id) c
    on(a.org_id=c.org_id)
    where a.org_status=1
    <if test="groupId != null">
      and b.group_id = #{groupId}
    </if>
    <if test="orgType != null">
      and a.org_type = #{orgType}
    </if>
    <if test="orgId != null">
      and a.org_id = #{orgId}
    </if>
    <if test="orgName != null and orgName != ''">
      and a.org_name = #{orgName}
    </if>
    limit 1
  </select>


  <update id="updateOrganization"
    parameterType="com.webank.webase.node.mgr.organization.TbOrganization">
		update tb_organization set modify_time = now(),description=#{description}
		where org_id = #{orgId}
	</update>

  <select id="countByOrgId" resultType="java.lang.Integer">
		select count(1) from tb_organization where org_id = #{orgId}
	</select>
</mapper>