<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.webase.node.mgr.table.TableMapper">

  <select id="queryTables" resultType="java.lang.String">
    select table_name from information_schema.tables where table_schema=#{dbName}
    <if test="tableName != null">
      and table_name = #{tableName}
    </if>
  </select>

  <update id="dropTable" parameterType="java.lang.String">
      drop table if exists ${tableName}
  </update>

  <update id="createTbBlock" parameterType="java.lang.String">
      CREATE TABLE IF NOT EXISTS ${tableName}
      (
          pk_hash         varchar(128) NOT NULL,
          block_timestamp timestamp     NOT NULL,
          block_number    bigint NOT NULL,
          sealer_index    smallint NOT NULL,
          sealer          varchar(250) DEFAULT NULL,
          trans_count     bigint DEFAULT '0',
          create_time     timestamp     DEFAULT NULL,
          modify_time     timestamp     DEFAULT NULL,
          gas_used        varchar(64)  DEFAULT NULL,
          PRIMARY KEY (pk_hash)
      );
  </update>

  <update id="createTransHash" parameterType="java.lang.String">
      CREATE TABLE IF NOT EXISTS ${tableName}
      (
          trans_hash      varchar(128) NOT NULL,
          trans_number    bigserial    NOT NULL,
          block_number    bigint       NOT NULL,
          trans_from      varchar(64),
          trans_to        varchar(64),
          block_timestamp timestamp    NOT NULL,
          statistics_flag smallint DEFAULT 1,
          create_time     timestamp,
          modify_time     timestamp,
          gas_used        varchar(64),
          status          varchar(10),
          extra_data      varchar(1024),
          app_id          varchar(64),
          PRIMARY KEY (trans_hash)
      );
  </update>

  <delete id="deleteByTableName" parameterType="java.lang.String">
--         delete from ${tableName} limit 1000
--       无条件的删除,且未有使用,直接注释
  </delete>


  <update id="createUserTransactionMonitor" parameterType="java.lang.String">
      CREATE TABLE IF NOT EXISTS ${tableName}
      (
          user_name          varchar(128) NOT NULL,
          user_type          smallint  DEFAULT '0',
          contract_name      varchar(128) NOT NULL,
          contract_address   varchar(64),
          interface_name     varchar(32),
          trans_type         smallint  DEFAULT '0',
          trans_unusual_type smallint  DEFAULT '0',
          trans_count        int(11) NOT NULL,
          trans_hashs        varchar(1024),
          trans_hash_lastest varchar(128),
          create_time        timestamp DEFAULT NULL,
          modify_time        timestamp DEFAULT NULL
      );
      -- 创建分区表
      CREATE TABLE ${tableName}_p1 PARTITION OF ${tableName}
          FOR VALUES FROM ('2019-07-01') TO ('2020-01-01');
      CREATE TABLE ${tableName}_p2 PARTITION OF ${tableName}
          FOR VALUES FROM ('2020-01-01') TO ('2020-07-01');
      CREATE TABLE ${tableName}_p3 PARTITION OF ${tableName}
          FOR VALUES FROM ('2020-07-01') TO ('2021-01-01');
      CREATE TABLE ${tableName}_p4 PARTITION OF ${tableName}
          FOR VALUES FROM ('2021-01-01') TO ('2021-07-01');
      CREATE TABLE ${tableName}_p5 PARTITION OF ${tableName}
          FOR VALUES FROM ('2021-07-01') TO ('2022-01-01');
      CREATE TABLE ${tableName}_p6 PARTITION OF ${tableName}
          FOR VALUES FROM ('2022-01-01') TO ('2022-07-01');
      CREATE TABLE ${tableName}_p7 PARTITION OF ${tableName}
          FOR VALUES FROM ('2022-07-01') TO ('2023-01-01');
      CREATE TABLE ${tableName}_p8 PARTITION OF ${tableName}
          FOR VALUES FROM ('2023-01-01') TO ('2023-07-01');
      CREATE TABLE ${tableName}_p9 PARTITION OF ${tableName}
          FOR VALUES FROM ('2023-07-01') TO ('2024-01-01');
      CREATE TABLE ${tableName}_p99 PARTITION OF ${tableName}
          FOR VALUES FROM ('2024-01-01') TO (MAXVALUE)
  </update>

</mapper>
