<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.node.mgr.transaction.TransHashMapper">
  <resultMap id="transHashMap" type="com.webank.webase.node.mgr.transaction.entity.TbTransHash">
    <id column="trans_hash" javaType="java.lang.String" jdbcType="VARCHAR" property="transHash"/>
    <result column="trans_from" javaType="java.lang.String" jdbcType="VARCHAR"
      property="transFrom"/>
    <result column="trans_to" javaType="java.lang.String" jdbcType="VARCHAR" property="transTo"/>
    <result column="block_number" javaType="java.math.BigInteger" jdbcType="INTEGER"
      property="blockNumber"/>
    <result column="block_timestamp" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="blockTimestamp"/>
    <result column="statistics_flag" javaType="java.lang.Integer" jdbcType="INTEGER"
      property="statisticsFlag"/>
    <result column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="createTime"/>
    <result column="modify_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"
      property="modifyTime"/>
  </resultMap>


  <insert id="add">
    insert ignore into ${tableName}(trans_hash,trans_from,trans_to,block_number,block_timestamp,create_time,modify_time)
    values(#{trans.transHash},#{trans.transFrom},#{trans.transTo},#{trans.blockNumber},#{trans.blockTimestamp},NOW(),NOW())
  </insert>


  <select id="getCount" parameterType="com.webank.webase.node.mgr.transaction.entity.TransListParam"
    resultType="java.lang.Integer">
    select count(1) from ${tableName} where 1=1
    <if test="param.transHash != null and param.transHash != ''">
      and trans_hash = #{param.transHash}
    </if>
    <if test="param.blockNumber != null">
      and block_number = #{param.blockNumber}
    </if>
  </select>

  <select id="getCountByMinMax" resultType="java.lang.Integer">
    select max(trans_number) - min(trans_number) + 1 from ${tableName}
  </select>

  <select id="getList" parameterType="com.webank.webase.node.mgr.transaction.entity.TransListParam"
    resultMap="transHashMap">
    select * from ${tableName} where 1=1
    <if test="param.transHash != null and param.transHash != ''">
      and trans_hash = #{param.transHash}
    </if>
    <if test="param.blockNumber != null">
      and block_number = #{param.blockNumber}
    </if>
    <if test="param.flagSortedByBlock != null and param.flagSortedByBlock != ''">
      order by block_number ${param.flagSortedByBlock}
    </if>
    <if test="param.start != null and param.pageSize != null">
      limit #{param.start},#{param.pageSize}
    </if>
  </select>

  <select id="listOfUnStatTransHash" resultMap="transHashMap">
        select * from ${tableName}
        where statistics_flag=1
        order by block_number
        limit 2000
    </select>

  <select id="listOfUnStatTransHashByJob" resultMap="transHashMap">
        select * from ${tableName}
        where statistics_flag=1 and MOD(block_number,#{shardingTotalCount}) = #{shardingItem}
        order by block_number
        limit 0,10000
    </select>

  <select id="queryMinMaxBlock" resultType="com.webank.webase.node.mgr.block.entity.MinMaxBlock">
		select max(block_number) as maxBlockNumber,min(block_number) as minBLockNumber
		from ${tableName}
	</select>

  <delete id="remove">
	   DELETE from ${tableName} 
	   where statistics_flag = 2
	     and block_number &lt;= (select max(block_number) blockNumber from tb_trans_daily where group_id = #{groupId})
	   order by block_number
	   limit ${subTransNum}
  </delete>

  <update id="updateTransStatFlag">
        update ${tableName}
        set statistics_flag = 2
        where trans_hash = #{transHash}
   </update>
</mapper>